@model IEnumerable<TicketApplication.Models.Zone>

@{
    ViewData["Title"] = "Index";
}

<h1 class="my-4">Zones</h1>

<div class="mb-3">
    <a asp-action="Create" class="btn btn-success">Create New</a>
    <!-- Optional: Add search functionality -->
    <form method="get" class="d-inline-block float-right">
        <input type="text" name="search" placeholder="Search..." class="form-control" style="width: 200px; display: inline-block;" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

<table class="table table-bordered table-striped table-hover mt-3">
    <thead class="table-light">
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Id)</th>
            <th>@Html.DisplayNameFor(model => model.First().Name)</th>
            <th>@Html.DisplayNameFor(model => model.First().Price)</th>
            <th>Event Title</th>
            <th>Description</th>
            <th>@Html.DisplayNameFor(model => model.First().AvailableTickets)</th>
            <th>@Html.DisplayNameFor(model => model.First().CreatedAt)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td class="accept-policy">@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Price, "{0:C}")</td>
                <td class="text-truncate">@Html.DisplayFor(modelItem => item.Event.Title)</td>
                <td class="text-truncate" title="@item.description">@Html.DisplayFor(modelItem => item.description)</td>
                <td>@Html.DisplayFor(modelItem => item.AvailableTickets)</td>
                <td>@Html.DisplayFor(modelItem => item.CreatedAt, "{0:yyyy-MM-dd HH:mm:ss}")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm" title="Edit">
                        Edit
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm" title="Details">
                        Details
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" title="Delete">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
}
<style>
    /* CSS for truncating text with ellipsis in table cells */
    .text-truncate {
        overflow: hidden; /* Hides overflow text */
        white-space: nowrap; /* Prevents wrapping */
        text-overflow: ellipsis; /* Displays ellipsis (...) when text overflows */
        max-width: 150px; /* Set a max width for the cells */
    }
</style>