@model List<Order>

<div class="container mt-5">
    <h2>Lịch sử đơn hàng</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Đơn hàng</th>
                @* <th>Ngày</th> *@
                <th>Trạng thái</th>
                @* <th>Tổng</th> *@
                <th>Các thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td><a href="@Url.Action("OrderDetail", "Home", new { id = order.Id })" class="text-primary">#@order.Id</a></td>
                    @*<td>@order.Date.ToString("dd/MM/yyyy")</td> *@
                    <td>@order.Status</td>
                    @* <td>@String.Format("{0:N0} ₫ cho {1} mục", order.TotalAmount, order.ItemCount)</td> *@
                    <td>
                        <a href="@Url.Action("OrderDetail", "Home", new { id = order.Id })" class="btn btn-primary">Xem</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        function getOrderDetails(orderId) {
            const detailsDiv = $('#details-' + orderId);
            if (detailsDiv.is(':empty')) {
                $.ajax({
                    url: '/Order/GetOrderDetails',
                    type: 'GET',
                    data: { orderId: orderId },
                    success: function (result) {
                        detailsDiv.html(result);
                        detailsDiv.show();
                    },
                    error: function () {
                        showNotification('Lỗi khi lấy chi tiết đơn hàng.', 'danger');
                    }
                });
            } else {
                detailsDiv.toggle();
            }
        }
    </script>
}
