@model List<Event>

@{
    TempData["Title"] = "Home Page";
}
<div class="container">
    <div class="row justify-content-center">
        <!-- Căn giữa hàng -->
        @foreach (var ev in Model)
        {
            <div class="col-md-6 mb-4">
                <div class="card text-center">
                    <!-- Thêm class text-center -->
                    @if (!string.IsNullOrEmpty(ev.Image))
                    {
                        <img src="@Url.Content("~/Images/" + ev.Image)"  class="card-img-top" alt="@ev.Title" style="object-fit: cover; max-height: 200px;" />
                    }
                    else
                    {
                        <span>No Image</span>
                    }
                    <div class="card-body">
                        <h5 class="card-title">@ev.Title</h5>
                        <p class="card-text">
                            <span>Giá từ:</span>
                            <span class="text-primary">@ev.MinTicketPrice.ToString("N0")</span> - <span class="text-primary">@ev.MaxTicketPrice.ToString("N0")</span>
                        </p>
                        <a href="@Url.Action("EventDetail", "Home", new { id = ev.Id })" class="btn btn-outline-primary rounded-pill btn-lg" role="button" aria-label="Lựa chọn cho @ev.Title">Select Ticket Zone</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
